__pycache__/
.vscode/
.idea/
addons-custom-local/
*.pyc
.user_data_uid_*
chromedriver_*
config/odoo.conf
config/*.odoo.conf
.env
.venv
xml_state.py
nginx/nginx.conf
filename.txt
before*
*.code-workspace
